@model TownOfStettler.Models.DeviceInformation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Device Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.TosNumber)*@TOS Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TosNumber)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.SerialNumber)*@Serial Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ModelNumber)*@Model Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.PowerSupply)*@Power Supply
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PowerSupply)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.PurchaseStore)*@Purchase Store
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseStore)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.PurchasePrice)*@Purchase Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.PurchaseDate)*@Purchase Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.OperatingSystem)*@Operating System
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Destroyed)*@Destroyed
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destroyed)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Notes)*@Notes
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.DisplayMonitorNavigationId)*@Display Monitor Navigation Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayMonitorNavigationId)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.DeviceType)*@Device Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceType.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.DisplayMonitorNavigation)*@Display Monitor Navigation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayMonitorNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.OwnerLocationNavigation)*@Owner Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerLocationNavigation.Id)
        </dd>

        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware01Navigation)*@Installed Software 01
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware01Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware02Navigation)*@Installed Software 02
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware02Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware03Navigation)*@Installed Software 03
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware03Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware04Navigation)*@Installed Software 04
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware04Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware05Navigation)*@Installed Software 05
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware05Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware06Navigation)*@Installed Software 06
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware06Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware07Navigation)*@Installed Software 07
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware07Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware08Navigation)*@Installed Software 08
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware08Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware09Navigation)*@Installed Software 09
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware09Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware10Navigation)*@Installed Software 10
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware10Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware11Navigation)*@Installed Software 11
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware11Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware12Navigation)*@Installed Software 12
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware12Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware13Navigation)*@Installed Software 13
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware13Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware14Navigation)*@Installed Software 14
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware14Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware15Navigation)*@Installed Software 15
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware15Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware16Navigation)*@Installed Software 16
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware16Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware17Navigation)*@Installed Software 17
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware17Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware18Navigation)*@Installed Software 18
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware18Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware19Navigation)*@Installed Software 19
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware19Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.InstalledSoftware20Navigation)*@Installed Software 20
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware20Navigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
