@model TownOfStettler.Models.DeviceInformation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeviceInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TosNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TosNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerSupply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerSupply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destroyed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destroyed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayMonitorNavigationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayMonitorNavigationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayMonitorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayMonitorNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware01Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware01Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware02Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware02Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware03Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware03Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware04Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware04Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware05Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware05Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware06Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware06Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware07Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware07Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware08Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware08Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware09Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware09Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware10Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware10Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware11Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware11Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware12Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware12Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware13Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware13Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware14Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware14Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware15Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware15Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware16Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware16Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware17Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware17Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware18Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware18Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware19Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware19Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledSoftware20Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledSoftware20Navigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerLocationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerLocationNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
