@model IEnumerable<TownOfStettler.Models.DeviceInformation>

@{
    ViewData["Title"] = "Index";
}

<h1>Device Information Index</h1>

<p>
    <a asp-action="Create">Create New</a>


</p>
<form asp-action="Index" method="get">
    <p>
        Menu Search: <input type="text" name="SearchString" value="@ViewData["Filter"]" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.TosNumber)*@TOS Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SerialNumber)*@Serial Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ModelNumber)*@Model Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PowerSupply)*@Power Supply
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchaseStore)*@Purchase Store
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchasePrice)*@Purchase Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchaseDate)*@Purchase Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.OperatingSystem)*@Operating System
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Destroyed)*@Destroyed
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Notes)*@Notes
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DeviceType)*@Device Type
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OwnerLocationNavigation)*@Owner Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TosNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerSupply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StrIntDate) @*Dates properly changed here*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destroyed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerLocationNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
