@model IEnumerable<TownOfStettler.Models.DeviceInformation>

@{
    ViewData["Title"] = "Index";
}

<h1>Device Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.TosNumber)*@TOS Number
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.SerialNumber)*@Serial Number
            </th>
            <th>
                @*                @Html.DisplayNameFor(model => model.ModelNumber)*@Model Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PowerSupply)*@Power Supply
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchaseStore)*@Purchase Store
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchasePrice)*@Purchase Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PurchaseDate)*@Purchase Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.OperatingSystem)*@Operating System
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Destroyed)*@Destroyed
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Notes)*@Notes
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayMonitorNavigationId)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DeviceType)*@Device Type
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DisplayMonitorNavigation)*@Display Monitor Navigation
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OwnerLocationNavigation)*@Owner Location
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware01Navigation)*@Installed Software 01
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware02Navigation)*@Installed Software 02
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware03Navigation)*@Installed Software 03
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware04Navigation)*@Installed Software 04
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware05Navigation)*@Installed Software 05
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware06Navigation)*@Installed Software 06
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware07Navigation)*@Installed Software 07
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware08Navigation)*@Installed Software 08
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.InstalledSoftware09Navigation)*@Installed Software 09
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware10Navigation)*@Installed Software 10
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware11Navigation)*@Installed Software 11
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware12Navigation)*@Installed Software 12
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware13Navigation)*@Installed Software 13
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware14Navigation)*@Installed Software 14
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware15Navigation)*@Installed Software 15
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware16Navigation)*@Installed Software 16
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware17Navigation)*@Installed Software 17
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware18Navigation)*@Installed Software 18
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware19Navigation)*@Installed Software 19
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InstalledSoftware20Navigation)*@Installed Software 20
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TosNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerSupply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatingSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destroyed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayMonitorNavigationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayMonitorNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerLocationNavigation.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware01Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware02Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware03Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware04Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware05Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware06Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware07Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware08Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware09Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware10Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware11Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware12Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware13Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware14Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware15Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware16Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware17Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware18Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware19Navigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledSoftware20Navigation.Id)
                </td>
                <td>
                    <a class="Edits" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="Details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="Deletes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
