@model TownOfStettler.Models.History

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wiped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wiped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfChanges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfChanges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutOfServiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutOfServiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastOwnerSNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastOwnerSNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
