@model TownOfStettler.Models.Part

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Part</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceHistory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardDrive.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalDevice.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryDrive.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundCard.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoCard.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
